html,
body {
    background: $buzzex-background-color;
    font-family: 'Ubuntu', sans-serif;
    line-height: 22px;
    font-size: 0.9375rem;
    color: $buzzex-text-color;

    .content-wrapper {
        color: $buzzex-content-wrapper-text-color;
        background: $buzzex-background-color;

        .bg-light {
            background: $buzzex-background-color !important;
        }
    }
}

body,
.wrapper {
    min-height: 100vh;
}

div::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    background-color: #252525;
}

div::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.85);
    background-color: hsla(0, 0%, 76%, 0.8);
}

.iziToast-wrapper .iziToast-cover {
    margin-left : 15px ;
    width: 40px !important;
    background-color: transparent;
}

ul.errors {
    margin-bottom: 0px;
}

.registration-page kbd {
    background-color: #ffbc32;
}

.w-100 {
    width: 100% !important;
}

.w-80 {
    width: 80% !important;
}

.w-75 {
    width: 75% !important;
}

.w-60 {
    width: 60% !important;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.w-25 {
    width: 25% !important;
}

.w-20 {
    width: 20% !important;
}

@media (min-width:576px) {
    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-80 {
        width: 80% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-60 {
        width: 60% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-40 {
        width: 40% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-20 {
        width: 20% !important;
    }
}

@media (min-width:768px) {
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-80 {
        width: 80% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-60 {
        width: 60% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-40 {
        width: 40% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-20 {
        width: 20% !important;
    }
}

@media (min-width:992px) {
    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-80 {
        width: 80% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-60 {
        width: 60% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-40 {
        width: 40% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-20 {
        width: 20% !important;
    }
}

@media (min-width:1200px) {
    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-80 {
        width: 80% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-60 {
        width: 60% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-40 {
        width: 40% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-20 {
        width: 20% !important;
    }
}
