
#new-main-banner {
    height: 500px;
    background: url('/images/bg-futuristics.jpg');
    background-size: 100% 500px;
    display: block;
}

#signup-form {
    background: #343a40;
}
.register-via-email-form input.form-control {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 50px !important;
}
.register-via-email-form button {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    height: 50px !important;
}

@media (max-width: 720px){
    #new-main-banner {
        height: auto;  
        background-size: cover;
    }
    .register-via-email-form input.form-control {
        border-radius : 0px;
        margin-bottom: 1px;
    }
    .register-via-email-form button {
        border-radius : 0px;
        margin-bottom: 1px;
    }
}