/node_modules
/public/hot
/public/storage
/public/uploads
/public/css
/public/js
/public/uploads/*
/public/js/*
/public/css/*
/public/uploads
/public/mix-manifest.json
/storage/*.key
/storage/app/public/kyc
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
laravel-echo-server.json
laravel-echo-server.lock

storage/app/addresses/


storage/app/geoip\.mmdb
